<div class="row">
  <div class="col-md-12">
    <h1 [ngStyle]="{border: '1px solid red'}">This is 09 Feb 2019</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div [ngClass]="{ alert : true, 'alert-info' : isTgl}">
      Hello! Good Morning
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <input type="button" value="Close" (click)="isTgl = !isTgl">
  </div>
</div>
<div class="row">
  <div class="col-md-4 box" appMagic></div>
  <div class="col-md-4 box" appMagic></div>
  <div class="col-md-4 box" appMagic></div>
</div>
<div class="row">
  <div class="col-md-4 box" appMagic></div>
  <div class="col-md-4 box" appMagic></div>
  <div class="col-md-4 box" appMagic></div>
</div>



